<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Address Zen
 *
 * Dependency Injection Configuration
 *
 * This file configures plugins to sanitize address data and prevent XSS attacks
 * in checkout and address management forms.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugin to sanitize quote address data (checkout) -->
    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="addresszen_sanitize_quote_address"
                type="Addresszen\Lookup\Plugin\Quote\SanitizeAddressPlugin"
                sortOrder="10"/>
    </type>

    <!-- Plugin to sanitize customer address data -->
    <type name="Magento\Customer\Model\Address">
        <plugin name="addresszen_sanitize_customer_address"
                type="Addresszen\Lookup\Plugin\Customer\SanitizeAddressPlugin"
                sortOrder="10"/>
    </type>
</config>
